<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head th:replace="common/header :: common-header" />

<!-- <script type="text/javascript">

$(document).ready(function() {
	
	  var table = $('#table').DataTable({
	    columnDefs: [
	    { "width": "20%", "targets": 1 },	
	    { "width": "5%", "targets": 8 },
	    {
	      targets: [0,2,6,10,11,12],
	      createdCell: function(cell) {
	        var $cell = $(cell);


	        $(cell).contents().wrapAll("<div class='content'></div>");
	        var $content = $cell.find(".content");

	        $(cell).append($("<a style='color:black' href='#table' class='badge badge-light'>...</a>"));
	        $btn = $(cell).find("a");

	        $content.css({
	          "height": "50px",
	          "overflow": "hidden"
	        })
	        $cell.data("isLess", true);

	        $btn.click(function() {
	          var isLess = $cell.data("isLess");
	          $content.css("height", isLess ? "auto" : "50px")
	          $(this).text(isLess ? "Rút gọn" : "...")
	          $cell.data("isLess", !isLess)
	        })
	      }
	    
	    
	    }]
	  });
	  
	  
	 /*  $('#price').on('input', function(e){        
		    $(this).val(formatCurrency(this.value.replace(/[, đ]/g,'')));
		}).on('keypress',function(e){
		    if(!$.isNumeric(String.fromCharCode(e.which))) e.preventDefault();
		}).on('paste', function(e){    
		    var cb = e.originalEvent.clipboardData || window.clipboardData;      
		    if(!$.isNumeric(cb.getData('text'))) e.preventDefault();
		});
		function formatCurrency(number){
		    var n = number.split('').reverse().join("");
		    var n2 = n.replace(/\d\d\d(?!$)/g, "$&,");    
		    return  n2.split('').reverse().join('') + ' đ';
		} */
	  
	  
	  
	});

</script> -->
<body>

	<div th:replace="adminHome :: navbarAdmin"> </div>
	
	<div class="border" style="padding: 6px; padding-bottom: 0px">
		<h1>Thêm sản phẩm</h1>
		
		
		<form th:action="@{/productDetail/save}" method="POST">
		
  			<div class="rounded container" style="padding: 2% ; width: 60%">
  			
  			 <div class="form-group">
     			<h1>Thêm sản phẩm</h1>
    		</div>
    		
   			 <div class="form-group">
     			 <input type="text" name="title" class="form-control" placeholder="Tên sản phẩm">
    		</div>
    		
    		<div class="form-inline form-group">
    		
    		<div class="form-group" style="margin-right: 20%">
    			  <input type="text" name="shortTitle" class="form-control" placeholder="Tên viết tắt">
    		</div>
    		
    		<div class="form-group">
     			 <input type="text" name="sku" class="form-control" placeholder="SKU">
    		</div>
    		
  			</div>
				
   			<div class="form-inline form-group">
    		
    		<div class="form-group" style="margin-right: 20%">
    			  <input type="number" name="stock" class="form-control" placeholder="Số lượng">
    		</div>
    		
    		<div class="form-group">
     			 <input type="number" name="price" id="price" class="form-control" placeholder="Giá bán">&nbsp <h4>₫</h4>
    		</div>
    		
  			</div>
  			
    		<div class="form-group">
    			  <textarea name="description" class="form-control" placeholder="Mô tả sản phẩm" rows="5"></textarea>
    		</div>
  			
   			<div class="form-group">
     			  <input type="text" name="prodImg" data-role="tagsinput" class="form-control" placeholder="Ảnh" />
    		</div>
<!--     		<div class="col-sm-5">
    			 <select class="custom-select" name="product">
						<option th:each="id : ${productList}" th:value="${id.IDProduct}" th:text="${id.title}" />
				</select>
    		</div> -->
    		
    		<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="sizes"  name="size" data-role="tagsinput" placeholder="Kích cỡ">
         	</div> &nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" id="btn-size" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-size"  th:each="item : ${sizeList}" th:text="${item}"></button>           
          </div>        
        </div>
  			
  			<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="categories" name="categories" data-role="tagsinput" placeholder="Thể loại" required="required">
         	 </div>&nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-category" th:each="item : ${categoryList}"><span th:text="${item}"></span></button>           
          </div>        
        </div>
        
        	<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="color" name="colors" data-role="tagsinput" placeholder="Màu sắc">
         	 </div>&nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" id="btn-color" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-color" th:each="item : ${colorList}"><span th:text="${item}"></span></button>           
          </div>        
        </div>
        
        	<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="brands" name="brands" data-role="tagsinput" placeholder="Nhãn hiệu">
         	 </div>&nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-brand" th:each="item : ${brandList}" th:text="${item}"></button>           
          </div>        
        </div>
        
        	<button style="margin-left:40%" class="btn btn-success"><i class="fas fa-save"></i> SUBMIT </button>
        	
        </div>
        
  			
		</form>
	</div>
<!-- 	<div class="" style="margin:20px">
		<table id="table" class="table table-hover">
			<thead class="bg-dark">
				<tr>
					<th style="color: white">#</th>
					<th style="color: white">Tên</th>
					<th style="color: white">Ảnh</th>
					<th style="color: white">Size</th>
					<th style="color: white">Trạng thái</th>
					<th style="color: white">Tên ngắn</th>
					<th style="color: white">Mã</th>
					<th style="color: white">Mô tả</th>
					<th style="color: white">Số lượng</th>
					<th style="color: white">Giá</th>
					<th style="color: white">Ngày listing</th>
					<th style="color: white">Thể loại</th>
					<th style="color: white">Nhãn hiệu</th>
					<th style="color: white">Màu sắc</th>
					<th style="color: white">Xóa</th>
					<th style="color: white">Cập nhật</th>
				</tr>
			</thead>
			<tbody class="bg-light">
				<tr th:each="list : ${list}">
					<td th:text="*{list.title}"></td>
					<td><span th:each="item : ${list.ProductImg}"><img th:src="${item.picture1}" style="width:50px; margin:5px; max-height: 70px"/></span></td>
					<td><div th:each="item : ${list.size}"><span class="badge badge-dark mt-3" th:text="${item.value}"></span></div></td>
				 	<td th:text="*{list.productStatus}?'Mở bán':'Tạm khóa'" class="badge badge-dark mt-3"></td> 
					<td th:text="*{list.shortTitle}"></td>
					<td th:text="*{list.sku}"></td>
					<td th:text="*{list.description}"></td>
					<td th:text="*{list.stock}"></td>
					<td><a th:text="*{list.price}"></a>&nbsp₫</td>
					<td th:text="*{list.listingDate}"></td>
					<td><div th:each="item : ${list.category}"><span class="badge badge-dark mt-3" th:text="${item.categoryName}"></span></div></td> 
 					<td><div th:each="item : ${list.brand}"><span class="badge badge-dark mt-3" th:text="${item.name}"></span></div></td> 
					<td><div th:each="item : ${list.color}"><span class="badge badge-dark mt-3" th:text="${item.colorName}"></span></div></td>
					 <td><a class="btn btn-danger" th:href="@{delete/{id}(id=${list.IDProductDetail})}"><i class="fas fa-trash-alt"></i></a></td>
					 <td><a class="btn btn-primary" th:href="@{updateForm/{id}(id=${list.IDProductDetail})}"><i class="fas fa-edit"></i></a></td>
				</tr> 
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div> -->
</body>
</html>