<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" />
</head>
<body>
	<div th:each="list:${ProductDetail}">
		<div class="border" style="padding: 6px">
		<h1>Product Detail form</h1>
		
		
		<form th:action="@{/productDetail/update}" method="POST">
			
			<input type="text" name="IDProductDetail" class="form-control" th:value="*{list.IDProductDetail}" hidden="true">
			
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="text" name="title" class="form-control" th:value="*{list.title}" placeholder="Tên sản phẩm">
     			  
    		</div>
    		<div class="col-sm-5">
    			  <input type="text" name="shortTitle" class="form-control" th:value="*{list.shortTitle}" placeholder="Tên viết tắt">
    		</div>
  			</div>
  			
  			<!-- <select name="productStatus">
						<option th:value="${id.IDProduct}" th:text="${id.title}" />
			</select> -->
				
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="text" name="sku" class="form-control" placeholder="SKU" th:value="*{list.sku}" >
    		</div>
    		<div class="col-sm-5">
    			  <input type="text" name="description" class="form-control" placeholder="Mô tả sản phẩm" th:value="*{list.description}">
    		</div>
  			</div>
  			
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="number" name="stock" class="form-control" placeholder="Số lượng" th:value="*{list.stock}">
    		</div>
    		<div class="col-sm-5">
    			  <input type="number" name="price" class="form-control" placeholder="Giá bán" th:value="*{list.price}">
    		</div>
  			</div>
  			
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="text" name="Materials" class="form-control" placeholder="Chất liệu" th:value="*{list.Materials}">
    		</div>
    		<div class="col-sm-5">
    			 <select class="custom-select" name="product">
    			 		
						<option th:each="id : ${productList}" th:value="${id.IDProduct}" th:text="${id.title}" th:selected="(${id.IDProduct} == *{list.product.IDProduct})" />
				</select>
    		</div>
  			</div>
  			<button style="margin-left:40%" class="btn btn-success">Submit</button>
		</form>
	</div>
	</div>
</body>
</html>