<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="adminHome :: navbarAdmin"></div>

<div th:each="list:${ProductDetail}">

	
	
<div class="border" style="padding: 6px; padding-bottom: 0px">
		
		<h1>Sửa thông tin sản phẩm</h1>
		
		<form th:action="@{/productDetail/update}" method="POST">
		
  			<div class="rounded container" style="padding: 2% ; width: 60%">
  			
  			 <div class="form-group">
     			<h1>Sửa thông tin sản phẩm</h1>
    		</div>
    		
    		 <div class="form-group">
  			<input hidden="true"  name="IDProductDetail" class="form-control" th:value="*{list.IDProductDetail}">

  			</div>
   			 <div class="form-group">
     			 <input  type="text" name="title" class="form-control" placeholder="Tên sản phẩm" th:value="*{list.title}">
    		</div>
    		
    		<div class="form-group">
    		<select name="productStatus" class="form-control">
    		
						<option th:value="${list.productStatus}" th:text="*{list.productStatus}?'Mở bán':'Tạm khóa'" selected="selected" hidden=""/>
						<option th:value="false">Tạm khóa</option>
						<option th:value="true">Mở bán</option>
			</select>
			</div>
			
    		<div class="form-inline form-group">
    		
    		<div class="form-group" style="margin-right: 20%">
    			  <input type="text" name="shortTitle" class="form-control" placeholder="Tên viết tắt" th:value="*{list.shortTitle}">
    		</div>
    		
    		<div class="form-group">
     			 <input type="text" name="sku" class="form-control" placeholder="SKU" th:value="*{list.sku}">
    		</div>
    		
  			</div>
				
   			<div class="form-inline form-group">
    		
    		<div class="form-group" style="margin-right: 20%">
    			  <input type="number" name="stock" class="form-control" placeholder="Số lượng" th:value="*{list.stock}">
    		</div>
    		
    		<div class="form-group">
     			 <input type="number" name="price" class="form-control" placeholder="Giá bán" th:value="*{list.price}">&nbsp <h4>₫</h4>
    		</div>
    		
  			</div>
  			
    		<div class="form-group">
    			  <textarea name="description" class="form-control" placeholder="Mô tả sản phẩm" th:text="*{list.description}" rows="5"></textarea>
    		</div>
  			
   			<div class="form-group">
     			 <input name="prodImg" data-role="tagsinput" class="form-control" placeholder="Ảnh" th:value="*{preselectedProdImg}"/>
    		</div>
<!--     		<div class="col-sm-5">
    			 <select class="custom-select" name="product">
						<option th:each="id : ${productList}" th:value="${id.IDProduct}" th:text="${id.title}" />
				</select>
    		</div> -->
    		
    		<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="sizes"  name="size" data-role="tagsinput" placeholder="Kích cỡ" th:value="${preselectedSizes}">
         	</div> &nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" id="btn-size" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-size"  th:each="item : ${sizeList}" th:text="${item}"></button>           
          </div>        
        </div>
  			
  			<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="categories" name="categories" data-role="tagsinput" placeholder="Thể loại" th:value="${preselectedCategories}" required="required">
         	 </div>&nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-category" th:each="item : ${categoryList}" ><span th:text="${item}"></span></button>           
          </div>        
        </div>
        
        	<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="color" name="colors" data-role="tagsinput" placeholder="Màu sắc" th:value="${preselectedColor}">
         	 </div>&nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" id="btn-color" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-color" th:each="item : ${colorList}"><span th:text="${item}"></span></button>           
          </div>        
        </div>
        
        	<div class="form-inline form-group">
          	<div class="form-group">
            <input type="text" class="form-control" id="brands" name="brands" data-role="tagsinput" placeholder="Nhãn hiệu" th:value="${preselectedBrands}">
         	 </div>&nbsp;&nbsp;
          	 <div class="form-group">
            <button type="button" class="btn btn-light badge badge-pill badge-dark p-2 mt-2 btn-brand" th:each="item : ${brandList}" th:text="${item}"></button>           
          </div>        
        </div>
        
        	<button style="margin-left:40%" class="btn btn-success"><i class="fas fa-save"></i> SUBMIT </button>
        	
        </div>
        
  			
		</form>
	</div>
</div>
	<!-- <div th:each="list:${ProductDetail}">
		<div class="border" style="padding: 6px">
		<h1>Product Detail form</h1>
		
		
		<form th:action="@{/productDetail/update}" method="POST">
			
			<input type="text" name="IDProductDetail" class="form-control" th:value="*{list.IDProductDetail}" hidden="true">
			
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="text" name="title" class="form-control" th:value="*{list.title}" placeholder="Tên sản phẩm">
     			  
    		</div>
    		<div class="col-sm-5">
    			  <input type="text" name="shortTitle" class="form-control" th:value="*{list.shortTitle}" placeholder="Tên viết tắt">
    		</div>
  			</div>
  			
  			<select name="productStatus">
						<option th:value="${id.IDProduct}" th:text="${id.title}" />
			</select>
				
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="text" name="sku" class="form-control" placeholder="SKU" th:value="*{list.sku}" >
    		</div>
    		<div class="col-sm-5">
    			  <input type="text" name="description" class="form-control" placeholder="Mô tả sản phẩm" th:value="*{list.description}">
    		</div>
  			</div>
  			
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="number" name="stock" class="form-control" placeholder="Số lượng" th:value="*{list.stock}">
    		</div>
    		<div class="col-sm-5">
    			  <input type="number" name="price" class="form-control" placeholder="Giá bán" th:value="*{list.price}">
    		</div>
  			</div>
  			
  			<div class="form-row" style="padding: 20px">
   			 <div class="col-sm-5">
     			 <input type="text" name="Materials" class="form-control" placeholder="Chất liệu" th:value="*{list.Materials}">
    		</div>
    		<div class="col-sm-5">
    			 <select class="custom-select" name="product">
    			 		
						<option th:each="id : ${productList}" th:value="${id.IDProduct}" th:text="${id.title}" th:selected="(${id.IDProduct} == *{list.product.IDProduct})" />
				</select>
    		</div>
  			</div>
  			<button style="margin-left:40%" class="btn btn-success">Submit</button>
		</form>
	</div>
	</div> -->
	
	
</body>
</html>