<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" />
</head>
<body>
	<div th:each="list:${userTemp}">
		<h1>Address form</h1>
		<form th:action="@{/user/update}" method="POST">
			<label>id</label>
				<input type="text" name="IDUser" th:value="*{list.IDUser}">
			<label>email</label> 
				<input type="text" name="email" placeholder="Enter your name" th:value="*{list.email}">
			<label>status</label> 
				<input type="text" name="status" placeholder="Enter your name" th:value="*{list.status}">
			<label>first</label> 
				<input type="text" name="firstName" placeholder="Enter your name" th:value="*{list.firstName}">
			<label>last</label> 
				<input type="text" name="lastName" placeholder="Enter your name" th:value="*{list.lastName}">
			<label>pass</label> 
				<input type="text" name="passWord" placeholder="Enter your name" th:value="*{list.passWord}">
			<label>username</label> 
				<input type="text" name="userName" placeholder="Enter your name" th:value="*{list.userName}">
			<label>phone1</label> 
				<input type="text" name="phoneNumber" placeholder="Enter your name" th:value="*{list.phoneNumber}">
			<label>phone2</label> 
				 <input type="text" name="secondPhoneNumber" placeholder="Enter your name" th:value="*{list.secondPhoneNumber}">
			<label>address</label> 
				 <select name="address">
						<option th:each="id : ${address1}" th:value="${id.IDAdress}"
							th:text="${id.streetAddress}" />
				</select> 
			
			<button>Submit</button>
		</form>
	</div>
</body>
</html>