<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>
 <div style="margin-top: 100px"></div>
 
  <div class="container page-content">   
    <form th:action="@{/checkout}" method="post">
      <div class="row">  
          
        <!-- Checkout Info -->                         
        <div class="col-lg-8 mb-3" >
        
          <div th:if="${missingRequiredField}">
            <h5 class="alert alert-warning">There are some required fields missing.</h5>
          </div>  
                  
          <div id="accordion">

            <div class="card">
              <div class="card-header bg-white" id="headingOne">
                <h5 class="mb-0">
                  <a class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Bước 1: Kiểm tra giỏ hàng <i data-feather="chevron-down" class="mb-1"></i>
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body border-bottom">                
                  <div class="row align-items-center border-bottom  pb-2 pt-2" th:each="cartItem : ${cartItemList}">
                    <div class="col-12 col-md-6 mb-2">
                      <div class="row align-items-center">                      
                        <div class="col-4">
                          <a th:href="@{/article-detail?id=}+${cartItem.productDetail.IDProductDetail}">
                           <a th:each="li:${cartItem.productDetail.ProductImg}">
		                  		<img class="img-fluid" th:src="${li.picture1}">
		                  	</a>
                  	     </a>
                        </div>
                        <div class="col-8">
                          <a th:href="@{/article-detail?id=}+${cartItem.productDetail.IDProductDetail}" class="h6 bold d-inline-block" th:text=${cartItem.productDetail.title}></a>
                            <div><i data-feather="check-circle" class="text-success"></i> Còn hàng</div>                  
                            <div><small><b>Size</b>: <span th:text="${cartItem.size}"></span></small></div>                  
                 			 <small><b>Đơn giá</b>:<span th:text="${#numbers.formatDecimal(cartItem.productDetail.price, 0, 'COMMA', 0, 'POINT')}"></span> ₫</small>
                        </div>
                      </div> 
                    </div>  
                    <div class="col-12 col-md-6 text-right">
                      <span>x<span th:text="${cartItem.qty}"></span> sản phẩm: </span>                           
                      <span class="font-weight-bold text-info"> <span th:id="'price'+${cartItem.IDCartItem}" th:text="${#numbers.formatDecimal(cartItem.subtotal, 0, 'COMMA', 0, 'POINT')}"></span> ₫</span>
                    </div>                  
                  </div>                  
                  <div class="text-center mx-auto">
                    <small class="counter">Tổng tiền</small>
                    <h3 class="font-weight-bold"> <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 0, 'POINT')}"></span> ₫</h3>
                  </div>                    
                  <div class="d-flex flex-wrap justify-content-between align-items-center mt-3">      
                    <a th:href="@{/shopping-cart/cart}" class="btn btn-info rounded-pill  "><i data-feather="arrow-left"></i> Thêm sản phẩm</a>           
                    <a data-toggle="collapse" data-parent="#accordion" id="next1"
                        class="btn btn-primary rounded-pill " href="#collapseTwo">Bước tiếp theo <i data-feather="arrow-right"></i></a>
                  </div>
                </div>                 
              </div>
            </div>
            <div class="card">
              <div class="card-header bg-white" id="headingTwo">
                <h5 class="mb-0">
                  <a class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Bước 2: Thông tin giao hàng <i data-feather="chevron-down" class="mb-1"></i>
                  </a>
                </h5>
              </div>    
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body border-bottom">
                  <div class="form-row">
                    <div class="form-group col-12">
                      <label for="receiver">Họ và Tên người nhận</label> 
                      <input type="text" class="form-control" id="ReciverName" name="ReciverName" required="required" th:value="${user?.address?.ReciverName}"/>
                    </div>  
                    <div class="form-group col-12">
                      <label for="streetAddress">Địa chỉ (Số nhà, quận, huyện, phường, xã,...)</label> 
                      <input type="text" class="form-control" id="streetAddress" name="streetAddress" required="required" th:value="${user?.address?.streetAddress}"/>
                    </div>
                    <div class="form-group col-4">
                      <label for="city">Thành phố</label> <input type="text"
                        class="form-control" id="city" th:name="city"
                        required="required" th:value="${user?.address?.city}"/>
                    </div>
                    <div class="form-group col-4">
                      <label for="zipCode">Số điện thoại nhận hàng</label> <input
                        type="text" class="form-control" id="ReciverPhoneNumber" th:name="ReciverPhoneNumber" th:value="${user?.address?.ReciverPhoneNumber}" required="required" />
                    </div>                                       
                  </div>
                  <div class="mt-2 text-right">
                    <a data-toggle="collapse" data-parent="#accordion" id="next2"
                      class="btn btn-primary rounded-pill" href="#collapseThree">Bước tiếp theo <i data-feather="arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header bg-white" id="headingThree">
                <h5 class="mb-0">
                  <a class="btn btn-link checkout-header collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Bước 3: Đặt cọc  <i data-feather="chevron-down" class="mb-1"></i>
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body border-bottom">
                  <div class="row">
                    <div class="col-12">
                    <!--   <img src="/image/creditcard.png" class="img-fluid mb-2" /><br /> -->
                       <a>Tại HNSneaker chúng tôi luôn muốn sự tốt nhất dành cho khách hàng, để đảm bảo những đôi giày bán ra được đặt đúng nơi, về đúng chỗ quý khách cần phải <strong>ĐẶT CỌC 20%</strong> 
                       tổng tiền đơn hàng theo phương thức <strong>chuyển khoản</strong> qua 
                       <strong></strong></a><br/>
                       1. <img  src="https://upload.wikimedia.org/wikipedia/vi/f/fe/MoMo_Logo.png" class="img-fluid mb-2" style="width: 50px; margin-top: 4px"/><br/>
						 <strong>- Mã QR thanh toán:</strong> <br/>
							 <img src="/image/QRCODE.jpg" class="img-fluid mb-2" /><br />
						 <strong>- Nhập số tiền cần thanh toán:</strong> <br/>
						   Số tiền cọc bạn cần thanh toán là: 
						   <strong th:text="${#numbers.formatDecimal((shoppingCart.getGrandTotal()*20)/100, 0, 'COMMA', 0, 'POINT')}+' ₫'"></strong>. <br/>
						 <strong>- Nhập lời nhắn:</strong> <br/>
						 	Cú pháp: <strong>Mã vận đơn</strong> + <strong>Số tiền cọc</strong> (Ví dụ: dkdfsyhuya 100K).<br/>
						 	Mã vận đơn của bạn là <strong class="badge badge-primary" th:text="${shipmentCode}"></strong> <br/> 
						 	<p></p>
						 	<small><strong>Lưu ý: </strong>Sau khi đặt cọc, shop sẽ liên hệ để xác minh danh tính và đơn hàng, nếu có thắc mắc xin vui lòng liên hệ <strong>0926881894</strong>.</small>
<!--                       <div class="form-group">
                        <label for="cardType">Select Card Type: </label> <select
                          class="form-control" id="cardType" name="type">
                          <option value="visa">Visa</option>
                          <option value="mastercard">Mastercard</option>
                          <option value="discover">Discover</option>
                          <option value="amex">American Express</option>
                        </select>
                      </div> -->

<!--                       <div class="form-group">
                        <label for="cardHolder">Card Holder Name:</label> <input
                          type="text" class="form-control" id="cardHolder"
                          required="required" th:name="holderName">
                      </div> -->
<!--                       <div class="form-group">
                        <label for="cardNumber">Card Number:</label>
                        <div class="input-group">
                          <input type="tel" class="form-control" id="cardNumber"
                            required="required" th:name="cardNumber">
                        </div>
                      </div> -->
                    </div>
                  </div>

<!--                   <div class="row">
                    <div class="col-7">
                      <div class="form-group">
                        <label>Expiration Date</label>
                        <div class="row">
                          <div class="col-6">
                            <select class="form-control" name="expiryMonth"
                              required="required">
                              <option disabled="disabled">-- Month --</option>
                              <option value="1">Jan (01)</option>
                              <option value="2">Feb (02)</option>
                              <option value="3">Mar (03)</option>
                              <option value="4">Apr (04)</option>
                              <option value="5">May (05)</option>
                              <option value="6">June (06)</option>
                              <option value="7">July (07)</option>
                              <option value="8">Aug (08)</option>
                              <option value="9">Sep (09)</option>
                              <option value="10">Oct (10)</option>
                              <option value="11">Nov (11)</option>
                              <option value="12">Dec (12)</option>
                            </select>
                          </div>
                          <div class="col-6">
                            <select class="form-control" name="expiryYear">
                              <option disabled="disabled">-- Year --</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                              <option value="2027">2027</option>
                              <option value="2028">2028</option>
                              <option value="2029">2029</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label for="cardCVC">CV Code</label> <input id="cardCVC"
                          type="tel" class="form-control" name="cvc"/>
                      </div>
                    </div>
                  </div>   -->
                  <div class="mt-2 text-right">
                    <a data-toggle="collapse" data-parent="#accordion"  id="next3"
                      class="btn btn-primary rounded-pill" href="#collapseThree">Bước tiếp theo <i data-feather="arrow-right"></i></a>
                  </div>                
                </div>                
              </div>
            </div>        
             <div class="card card-header bg-white mb-1 mt-1">
	          	<div class="progress">
	  				<div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
          		</div>
          	</div>    
          </div> <!--  end accordion -->          
        </div>
        
        
        <!-- Summary Panel -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header bg-white checkout-header">TỔNG KẾT</div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span>Giá trị giỏ hàng</span>
                <span> <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 0, 'POINT')}"> </span> ₫</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Phí giao hàng</span>
                <span>Miễn phí</span>
              </div>
               <div class="d-flex justify-content-between">
                <span>Phương thức thanh toán</span>
                <a data-toggle="tooltip" data-placement="top" title="Thanh toán khi nhận hàng">COD</a>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span>Tổng số</span>
                <span class="font-weight-bold"> <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 0, 'POINT')}"> </span> ₫</span>
              </div>
            </div>
            <div class="card-footer bg-white border-top-0">
              <button type="submit" class="btn btn-primary rounded-pill btn-lg btn-block mt-2 mb-3">
              Đặt hàng
              </button>            
              <p style="font-size: smaller;">
                Xin vui lòng kiểm tra kỹ các thông tin trước khi đặt hàng, nếu có thắc mắc hãy liên hệ <strong href="#">0926881894</strong></p>                   
            </div>
          </div>       
        </div>        
      </div>
    </form>             
    
  </div> <!--  end container -->
  
  <div th:replace="common/header :: footer"> </div>  
  <div th:replace="common/header :: body-scripts"> </div>
  <script type="text/javascript">
  $(document).ready(function() {
	  $('#next1').click(function () {
	        $('#progress').css("width",'50%');
	        $('#progress').text("50%");
	    });
	});
  $(document).ready(function() {
	  $('#next2').click(function () {
	        $('#progress').css("width",'75%');
	        $('#progress').text("75%");
	    });
	});
  $(document).ready(function() {
	  $('#next3').click(function () {
	        $('#progress').css("width",'100%');
	        $('#progress').text("100%");
	        
	        function show_popup(){
	        	 $('#progress').text("Bạn đã hoàn thành xong các bước.");
	        	 
	         };
	         window.setTimeout( show_popup, 1500 );
	         
	    });
	});
  </script>
  
</body>
</html>