<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" />
</head>
<style>
</style>
<body>
	<div>
		<h1>Category form</h1>
		<form th:action="@{/category/save}" method="POST">
				
				<label>Tên danh mục</label>
				 <input type="text" name="categoryName">
				 	<label>Trạng thái danh mục sản phẩm</label>
				 	<select style="width: 200px" name="categoryStatus">
    				<option th:value="0" >Đang mở</option>
    				<option th:value="1" >Tạm khóa</option>
				</select>
			
			<button>Submit</button>
		</form>
	</div>
	<div>
		<table id="table1" class="display table table-striped dt-responsive">
			<thead class="bg-primary">
				<tr>
					<th style="color: white">#</th>
					<th style="color: white">#</th>
					<th style="color: white">#</th>
					<th style="color: white">Product</th>
					<th style="color: white">Chức năng</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${category}">
					<td th:text="*{list.categoryName}"></td>
					<td th:text="*{list.categoryListingDate}"></td>
					<td th:text="*{list.categoryStatus}?'Tạm khóa':'Đang mở'"></td>
					
					<td>
					<a class="btn btn-danger" th:href="@{delete/{id}(id=${list.IDCategory})}">Delete</a>
 						 <a th:href="@{update/{id}(id=${list.IDCategory})}">Update</a>
 					</td>
				</tr> 
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div>
</body>
</html>