<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head th:replace="common/header :: common-header" />

 <script type="text/javascript">

</script> 
<body>
	<div th:replace="adminHome :: navbarAdmin"> </div>
	
	 <div style="margin-top: 100px"></div>
	 
	<div class="container mt-2" style="padding: 6px; padding-bottom: 300px"> 
		<div th:if="${notValid}" class="alert alert-danger alert-dismissible fade show" role="alert">
	      <strong>Chỉnh sửa thất bại, đã có giá trị này!</strong>
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </div>
	<div class="card p-2" th:each="list : ${category}">
		<h2>Cập nhật thể loại</h2><hr>
		<form th:action="@{/category/update}"  method="post" >
				
				Tên thể loại
				<input type="text" name="IDCategory" th:value="*{list.IDCategory}" hidden="true">
			
				<input type="text" name="categoryName" placeholder="Tên danh mục" th:value="*{list.categoryName}">
				
				 	
				<select style="width: 200px" name="categoryStatus" hidden="true">
				 	<option th:value="*{list.categoryStatus}" th:text="*{list.categoryStatus}?'Tạm khóa':'Đang mở'"></option>
    				<option th:value="0" >Đang mở</option>
    				<option th:value="1" >Tạm khóa</option>
				</select>
			
			<button class="btn btn-primary"><i class="fa fa-edit"></i></button>
		</form>
	</div>
	</div>
	<div th:replace="common/header :: footer"> </div>
	 <div th:replace="common/header :: body-scripts"> </div>
</body>
</html>