<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml" xmlns:sec="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header">
</head>

<body class="d-flex flex-column">
  <div th:fragment="navbarAdmin">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top">
     
      <a class="navbar-brand" th:href="@{/admin}">ADMIN DASHBOARD</a>
      
      <div class="dropdown show">
		  <a class="btn btn-outline-dark text-white bg-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Quản lý sản phẩm
		  </a>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		    <a class="dropdown-item" th:href="@{/admin}"><i class="fas fa-list-ul"></i> Danh sách sản phẩm</a>
		    <a class="dropdown-item" th:href="@{/productDetail/getProductDetail}"><i class="fas fa-plus-circle"></i> Thêm sản phẩm</a>
		   	
		  </div>
	 </div>
	 
	 <div class="dropdown show">
		  <a class="btn btn-outline-dark text-white bg-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Quản lý đơn hàng
		  </a>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		    <a class="dropdown-item" th:href="@{/admin/orderlist}"><i class="fas fa-list-ul"></i> Danh sách đơn hàng</a>
		    <a class="dropdown-item" th:href="@{/productDetail/getProductDetail}"><i class="fas fa-plus-circle"></i> Thêm sản phẩm</a>
		   	
		  </div>
	 </div>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
          
            
     
          </li>   
        </ul>
        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/store}"> Quay về trang chủ </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}"> Đăng xuất </a>
          </li>
        </ul>
      </div>
        
    </nav>
  </div>
  
  
  <div th:replace="common/header :: body-scripts"> </div>
  
  

</body>
</html>